.split-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  .left-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 248px;
    overflow: hidden;

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .right-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 248px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
